@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .tag-tabular {
    font-feature-settings: 'dlig' 1;
  }
}
